/* NILS' CSS */

.generated-content {display: inline; margin: 1em 0; padding: 0 .4em; position: relative;}
.generated-content:before {content: "\2660"; display: block; left: -.4em; position: absolute; top: 0;}
.generated-content:after {content: "\2660"; display: block; right: -.4em; position: absolute; top: 0;}

/* Gradients */
.gradientbox {
	border: 1px solid #ccc;
	float: left;
	height: 6em;
	margin: 2em .5em 0 0;
	width: 6em;
}

.horizontal {
	background-image: -webkit-linear-gradient(left , #1B5CAB 0%, #71C77E 100%);
}

.vertical {
	background-image: -webkit-linear-gradient(top, #165710 0%, #D1B8CE 100%);
}

.diagonal {
	background-image: -webkit-linear-gradient(right top, #000000 0%, #FFFFFF 80%);
}

.radial {
	background-image: -webkit-gradient(radial, 50% 50%, 132, 50% 50%, 29,  from(#A4FC21), to(#CF0C13));
}

.shiny {
	background-image: -webkit-linear-gradient(bottom, #4C728F 55%, #FFFFFF 65%, #89CAD0 77%);
}

/* 3D */
#flip-container1,
#flip-container2,
#flip-container3 {
	float: left;
 	height: 400px;
 	margin: 1em 10px 0 0;
    position: relative;
    width: 270px;
    z-index: 1;
}
   
.face.front {
	display: none;
}
   
@media all and (-webkit-transform-3d) {
	/* Use the media query to determine if 3D transforms are supported */
	#flip-container1,
    #flip-container2,
    #flip-container3 {
    	-webkit-perspective: 1000;
    }
    
    #flip-card1,
    #flip-card2,
    #flip-card3 {
    	width: 100%;
       	height: 100%;
       	-webkit-transform-style: preserve-3d;
       	-webkit-transition: -webkit-transform 1s;
    }

    #flip-container1:hover #flip-card1,
    #flip-container2:hover #flip-card2,
    #flip-container3:hover #flip-card3 {
    	-webkit-transform: rotateY(180deg);
    }
    
    .face {
    	position: absolute;
       	width: 100%;
       	height: 100%;
       	-webkit-backface-visibility: hidden;
    }

    .face.front {
    	display: block;
       	-webkit-transform: rotateY(180deg);
       	-webkit-box-sizing: border-box;
    }
}